@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=PT+Serif&display=swap');
*{
  font-family: 'PT Serif', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
