
.home{
    width: 100%;
    margin-top: 30px;
    padding-top: 130px;
    height: inherit;
    border-radius: 3px;
   
}

.problem{
    height: inherit;
    width: 100vw;
    border-bottom: 4px solid black;
    margin-bottom: 0px;
    margin-top: 40px;
    position: relative;
    background-color: rgb(29, 29, 29);
}

.question{
    height: inherit;
    width: 95%;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding:15px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: lighter;
    background-color: rgb(194, 191, 191);
    font-size: 20px;
    letter-spacing: 1px;
    
}
.options{
    height: inherit;
    width: 100%;
    padding: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
}

.options .p{
    width: 95%;
    height: inherit;
    background-color: rgb(214, 212, 212);
    font-weight: normal;
    margin: 5px;
    font-size: 20px;
    margin-top: 15px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    color: black;
}

.options .p button{
    height: 20px;
    width: 20px;
    min-width: 25px;
    border: none;
    border-radius: 50%; margin: 10px;
}

.d_bar{
    background-color: rgb(31, 30, 30);
    margin: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

}

.arrowforward{
    background-color: rgb(70, 69, 69);
    height: 50%;
    color: white;
    border-radius: 5px;
} 

.submit{
    background-color: white;
    height: 50px;
    width: 150px;
    position: relative;
    margin-left: 40px;
    border: none;
    letter-spacing: 5px;
    font-size: 20px;
    z-index: 0;
    border-radius: 15px;   
}

@media (min-width: 650px){
    .home{
        width: 90%;
        margin-top: 30px;
        height: inherit;
        border-radius: 3px;
        padding-top: 140px;
    }
    
    .problem{
        height: inherit;
        width: 100%;
        border-bottom: 4px solid black;
        margin-bottom: 0px;
    }
    
    .question{
        height: inherit;
        width: 95%;
        margin: 10px;
        font-weight: lighter;
        padding: 20px;
        display: flex;
        z-index: -1;
        color: black;
        border-radius: 10px;
        background-color: rgb(160, 158, 158);
        font-size: 25px;
    }
    
    .options{
        height: inherit;
        width: 100%;
        padding: 10px;
        display: flex;
        align-self: center;
        flex-direction: column;
        background-color: rgb(8, 8, 8);
    }
    
    .options .p{
        width: 90%;
        height: inherit;
        background-color: rgb(214, 212, 212);
        font-weight: lighter;
        margin: 5px;
        color: black;
        font-size: 25px;
        margin-top: 15px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 15px;
    }
    
    .options .p button{
        height: 20px;
        width: 20px;
        border: none;
        min-width: 20px;
        border-radius: 50%; margin: 10px;
        background-color: white;
    }
    .d_bar{
        background-color: rgb(58, 53, 53);
        margin: 0px;
        height: 70px;
        display: flex;
        align-items: center;
        z-index: 0;
        justify-content: center;
    
    }
    .arrowforward{
        background-color: rgb(70, 69, 69);
        height: 70%;
        color: white;
        border-radius: 5px;
    }
    .submit{
        background-color: white;
        height: 50px;
        width: 150px;
        position: relative;
        margin-left: 40px;
        border: none;
        letter-spacing: 5px;
        z-index: 0;
        font-size: 20px;
        border-radius: 15px;   
    }
    
}