.home{
    width: 95%;
    background-color: rgb(216, 211, 211);
    margin-top: 90px;
    height: inherit;
    border-radius: 3px;
}
.question div{
    background-color: #000020;
    display: flex;
    color: white;
    font-weight: bold;
    min-width: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 50% ;
    width: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 20px;
}


.topic{
    height: 100%;
    width: 62%;
    border: none;
    font-weight: normal;
    border-left: 3px solid black;
    margin-left: 3px;
    background-color: transparent;
    font-size: 20px;
}

.question{
    height: inherit;
    font-family: 'Courier New', Courier, monospace;
    width: 92%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding:10px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: normal;
    background-color: rgb(218, 216, 216);
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
    font-size: 15px;
    letter-spacing: 1px;
    
}
.olk{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    
}
.options{
    height: inherit;
    width: 100%;
    padding: 0px;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
}

.options .p{
    width: 90%;
    height: inherit;
    background-color: rgb(214, 212, 212);
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.1) ;
    font-size: 15px;
    margin-top: 8px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    color: black;
}

.options .p button{
    height: 15px;
    width: 15px;
    min-width: 15px;
    border: none;
    border-radius: 50%; margin: 10px;
}

.d_bar{
    background-color: rgb(31, 30, 30);
    margin: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;

}

.arrowforward{
    background-color: #00001a;
    height: 30%;
    color: white;
    border-radius: 5px;
} 

.submit{
    background-color:#006622;
    color: white;
    height: 40px;
    width: 110px;
    margin-left: 30px;
    border: none;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none;  
}
.d_bar .submit:hover{
    background-color: rgb(34, 185, 102);
}

@media (min-width: 650px){
    .home{
        width: 80%;
        height: inherit;
        z-index: 0;
        border-top: 3px solid transparent;
        padding-bottom: 10px;
    }
    
   
    
    .question{
        height: inherit;
        width: 95%;
        margin: 10px;
        font-weight: lighter;
	font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        display: flex;
        z-index: -1;
        color:black;
        border-radius: 10px;
        font-size: 20px;
    }
    .question div{
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
        width: 30px;
        font-size: 1rem;
	font-family: 'Courier New', Courier, monospace;;
	color: white;
        border:1px solid black;
        min-width: 20px;
        min-height: 20px;
        height: 20px;
        background-color: #000020;
    }

    .options{
        height: inherit;
        width: 100%;
        padding: 10px;
        display: flex;
        align-self: center;
        flex-direction: column;
	background-color: rgb(8, 8, 8);
    }
    
    .options .p{
        width: 90%;
	font-family: 'Courier New', Courier, monospace;
        height: inherit;
        background-color: rgb(214, 212, 212);
        font-weight: lighter;
        margin: 5px;
        color: black;
        font-size: 18px;
        margin-top: 8px;
        padding: 5px;
	font-weight: lighter;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 15px;
    }
    
    .options .p button{
        height: 20px;
        width: 20px;
        border: none;
        min-width: 15px;
        min-height: 15px;
        border-radius: 50%; margin: 10px;
        background-color: white;
    }

    .d_bar{
        background-color: rgb(58, 53, 53);
        margin: 0px;
        height: 70px;
        display: flex;
        align-items: center;
        z-index: 0;
        justify-content: center;
    }

    .arrowforward{
        background-color: rgb(70, 69, 69);
        height: 40%;
        color: white;
        border-radius: 5px;
    }

    .submit{
        height: 40px;
        background-color: rgb(34,185,102);
        width: 120px;
        position: relative;
        margin-left: 40px;
        font-family: sans-serif;
        border: none;
        letter-spacing: 5px;
        z-index: 0;
        font-size: 15px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }

    .d_bar .submit:hover{
        background-color: rgb(34, 185, 102);
    }
    
}
