.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black; 
    position: relative;
    right: 33%;
    margin: 10px;
}
article{
    height:inherit;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;

}
h2{
    position: relative;
    bottom: 50%;
    right:2%;
}
h4{
    position: relative;
    bottom: 50%;
    right:4%;
}