
.container{
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
button{
    width: 200px;
    background-color: teal;
    color: white;
    font-weight: bold;
    font-size: 17px;
    height: 40px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    position: relative;
    bottom: 30%; 
}

.h3{
    position: relative;
    bottom: 34%; 
}
