
.topbar{
    width: 100vw;
    height: 35px;
    position: fixed;
    top: 0;
    z-index: 2;
    margin-left: 0px;
}
.ico{
    position: fixed;
    margin: 10px;
    margin-right: 30px;
    right: 0;
}
.lighter{
    width: 50px;
}

.menuebar .li:hover {
    font-weight: bolder;
    background-color:white;
    color: black;
    
}
 
.menuebar .li{
    min-width: 200px;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
}


.menuebar{
    transition: 0.5s linear;
    height: 100vh;
    background:black;
    color: white;
    width: 0;
    max-width: 250px;
    line-height: 60px;
    list-style: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    z-index: 0;
    position: fixed;
    top: 2;
    overflow-x: hidden;
    padding-left: 20px;
    right: 0;  
    cursor: pointer; 
}  


.lowerbar{
    width: 100vw;
    height: 85px;
    border-top:4px solid rgb(133, 131, 131) ;
    top: 35px;
    left: 0;
    z-index: 1;
}
.circle{
    height: 70px;
    margin-right: 20px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(6, 75, 40);
    position: fixed;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}
.s_circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;  
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}


.counter{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.timer{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.timer div{
  margin-left: 10px;
}
 
.line{
    height: 8px;
    width: 200px;
    margin-bottom: 5px;

    border-radius: 10px;
    background-color: rgb(103, 100, 100);
}
 
.s_line{
    height: 100%;
    width: 40%;
    border-radius: 10px;
}
@media (min-width: 650px){
    .line{
        height: 8px;
        width: 200px;
        border-radius: 10px;
        margin-left: 30px;
    }
     
    .s_line{
        height: 100%;
        width: 40%;
        border-radius: 10px;
        background-color: rgb(34, 185, 102);
    }
    
.topbar{
    width: 100vw;
    height: 145px;
    position: fixed;
    top: 0;
    z-index: 0;
}

.ico{
    position: fixed;
    margin: 10px;
    margin-right: 30px;
    right: 0;
}
.light{
    position: fixed;
    margin: 10px;
    margin-right: 30px;
    left: 0; 
    background-color: transparent;
}

.menuebar .li:hover {
    font-weight: bolder;
    background-color:white;
    color: black;
    
}

.menuebar .li{
    min-width: 200px;
    transition: 0.4s ease;
    text-decoration: none;
    color: white;
}


.menuebar{
    transition: 0.7s linear;
    height: 100vh;
    background:black;
    color: white;
    width: 0;
    max-width: 250px;
    line-height: 60px;
    list-style: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    z-index: 0;
    position: absolute;
    top: 0;
    overflow-x: hidden;
    padding-left: 20px;
    right: 0;  
    cursor: pointer; 
}  

.lowerbar{
    width: 100vw;
    height: 90px;
    position: fixed;
    top: 40px;
     
    left: 0;
    z-index: 0;
}
.counter{
width: 100%;
height: 50%;
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
padding: 10px;
}
.circle{
    height: 80px;
    margin-right: 60px;
    top: 60px;
    width: 80px;
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}
.s_circle{
    height: 70px;
    width: 70px;
    display: flex;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
}

}
