
.scoreboard {
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
  width: 90vw;
  margin: 10px;
  padding: 0;
  border-radius: 10px;
  font-size: 15px;
  color: white;

}

.header {
  padding: 5px 5px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 2px #FFFF;
}

.header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: normal;
}

.player {
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    display: flex;
    background-color:rgb(255, 255, 255,0.1);
    margin-top: 7px;
    margin-bottom: 7px;
    letter-spacing: 2px;
}

.player-name:hover .remove-player {
    visibility: visible;
  }

  .player-name:hover .remove-player {
    visibility: visible;
  }

  .player-name {
      flex-grow: 1;
      padding: 5px;
  }

  .player-score {
      width: 190px;
      border-left: 1px solid white;
      padding-left: 5px;
      display: flex;
      align-items: center;
  }

  .counter {
    display: flex;
  }

  .counter-action {
    border: none;
    font-weight: bold;
    color: #FAFAFA;
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }



