
.home_{
    width: 90%;
    background-color: rgb(216, 211, 211);
    margin-top: 90px;
    height: inherit;
    border-radius: 3px;
   
}

.solution{
    height: inherit;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 6px 10px rgba(0,0,0,0.09) ;
    margin-bottom: 40px;
    border: 1px solid rgb(192, 190, 190) ;
    margin: 10px;
    padding-bottom: 15px;
   

}
.solution div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 50% ;
    width: 40px;
    font-weight: bold;
    height: 40px;
    border: 1px solid rgb(192, 190, 190) ;
    background-color: white;
}

.question_asked{
    height: inherit;
    width: 95%;
    margin: 10px;
    padding:10px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(223, 223, 223);
    border: 1px solid rgb(178, 176, 176) ;
    box-shadow: inset 2px 6px 10px rgba(0,0,0,0.09) ;
    font-size: 15px;
    letter-spacing: 1px;
    
}
 
    

.answer{
    height: inherit;
    width: 100%;
    padding: 0px;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: transparent;
    padding-left: 10px;
}

.answer .p{
    width: 87%;
    height: inherit;
    background-color: rgb(214, 212, 212);
    font-weight: bold;
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}




@media (min-width: 650px){
    .home_{
        width: 90%;
        background-color: rgb(117, 117, 117);
        margin-top: 90px;
        height: inherit;

        display:flex;
        align-items: center;
        flex-direction: column;
        border-radius: 3px;
    }
    
    .solution{
        height: inherit;
        background-color: rgb(255, 255, 255);
        width: 100%;
        border: 1px solid rgb(192, 190, 190) ;
        color: black;
        margin-top: 20px;
        width: 80%;
        box-shadow: 2px 6px 10px rgba(0,0,0,0.09) ;
        padding: 20px;
        border-radius: 20px;
    }
    
    .question_asked{
        height: inherit;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 6px 10px rgba(0,0,0,0.09) ;
        border: 1px solid rgb(192, 190, 190) ;
        width: 95%;
        padding: 20px;
        display: flex;
        color:black;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 20px;
        
    }
   

    .answer{
        height: inherit;
        width: 100%;
        padding: 10px;
        display: flex;
        align-self: center;
        flex-direction: row;
        background-color: transparent;
    }
    
    .answer .p{
        width: 45%;
        height: inherit;
        font-weight: normal;
        margin: 5px;
        font-size: 20px;
        margin-top: 5px;
        padding: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        border-radius: 10px;
    }
}